
<script type="text/javascript" src="{{url_for('js_static', filename='dygraph-combined.js')}}"></script>
<script type="text/javascript" src="{{url_for('js_static', filename='jquery.min.js')}}"></script>
<br>
&nbsp;&nbsp;&nbsp;Sample Rate:<input type="text" id="sampleRate" value="1" style='width: 50px;'>
&nbsp;&nbsp;&nbsp;Max Samples:<input type="text" id="maxSamples" value="100000" style='width: 75px;'><br>
&nbsp;&nbsp;&nbsp;IP Address:<input type="text" id="ipAddress" value="127.0.0.1" style='width: 100px;'>
&nbsp;&nbsp;&nbsp;Port:<input type="text" id="port" value="5042" style='width: 75px;'><br>
&nbsp;&nbsp;&nbsp;Unit ID:<input type="text" id="unitId" value="1" style='width: 75px;'>
&nbsp;&nbsp;&nbsp;Address:<input type="text" id="address" value="34" style='width: 75px;'>
&nbsp;&nbsp;&nbsp;FC:<input type="text" id="fc" value="4" style='width: 75px;'>
<br>
<script type="text/javascript">

    console.log('startup:hostname=',window.location.hostname);
	
	var hostname = window.location.hostname;
    var g1data = [];
	var rate=1.0;
	var maxSamples=100000;
	
	var ipAddress='127.0.0.1';
	var port='5042';
	var unitId='1';
	var address='34';
	var fc='4';
	
	var tmp='';
	
	try
	{
	    rate=parseFloat(localStorage.getItem('rate'+hostname));
	}catch(err){};
	
	if(isNaN(rate)){rate=1.0;}
	
	document.getElementById('sampleRate').value = rate;
	
	try
	{
	    maxSamples=parseFloat(localStorage.getItem('maxSamples'+hostname));
	}catch(err){};
	
	if(isNaN(maxSamples)){maxSamples=100000;}
	
	document.getElementById('maxSamples').value = maxSamples;
	
	try
	{
	    tmp=localStorage.getItem('ipAddress');
		if(tmp) { ipAddress = tmp;}
	}catch(err){};		
	document.getElementById('ipAddress').value = ipAddress;
	
	try
	{
	    tmp=localStorage.getItem('port');
		if(tmp) { port = tmp;}
	}catch(err){};		
	document.getElementById('port').value = port;
	
	try
	{
	    tmp=localStorage.getItem('unitId');
		if(tmp) { unitId = tmp;}
	}catch(err){};		
	document.getElementById('unitId').value = unitId;
	
	try
	{
	    tmp=localStorage.getItem('address');
		if(tmp) { address = tmp;}
	}catch(err){};		
	document.getElementById('address').value = address;
	
	try
	{
	    tmp=localStorage.getItem('fc');
		if(tmp) { fc = tmp;}
	}catch(err){};		
	document.getElementById('fc').value = fc;
	
	
	function saveResults(fileName,header,data)
	{
		var options = {  year: 'numeric', month: 'numeric', day: 'numeric' , hour: '2-digit', minute: '2-digit', second: '2-digit',hour12: false};
		var str = '';
		str += header +'\r\n';
		for (i in data)
		{
			var row = ''
			for( j in data[i])
			{
				var cell = ''
				if(j==0)
				{
					cell = '"'+data[i][j].toLocaleString('en-US',options)+'"';
					cell = cell.replace(',','');
					row = cell;
				} else {
				    try {
					    cell = data[i][j].toString();
					}catch(err){
                        cell = '';
                    };						
					row += ','+ cell;
				}
			}
			//var row = data[i].join(',');
			str += row +'\r\n';
		}

		var link = document.createElement("a");    
        link.id="lnkDwnldLnk";
		link.style = "visibility:hidden";
		document.body.appendChild(link);
		var csv = str;  
        blob = new Blob([csv], { type: 'text/csv' }); 
        var csvUrl = window.URL.createObjectURL(blob);
      
        $("#lnkDwnldLnk")
        .attr({
            'download': fileName,
            'href': csvUrl
        }); 

        $('#lnkDwnldLnk')[0].click();    
        document.body.removeChild(link);
	}

</script>
&nbsp;&nbsp;&nbsp;Pause Update:<input type="checkbox" id="doPause" > 
&nbsp;&nbsp;&nbsp;Pause Data Collection:<input type="checkbox" id="doCollection" >
<br>
<table>
<tr>
<td><button type="button" onclick="saveResults('voltages.csv',g1Labels.join(','),g1data)" style='background-color: white; color: black; border-radius: 4px; font-size: 16px; border: 2px solid black; padding: 8px;'>Save Voltages </button></td>
</tr>
<tr>
<td><button type="button" onclick="g1data=[];" style='background-color: white; color: black; border-radius: 4px; font-size: 16px; border: 2px solid black; padding: 8px;'>Clear Voltages</button></td>
</tr>
</table>
<div>
<div id='div_g1' style='float:left; width:50%; height:50%; min-width: 650px; min-height:300px; background-color: white; border-radius: 4px;'></div>
</div>

<script type="text/javascript">

    function getParameters()
	{
		try {
		    ipAddress=document.getElementById('ipAddress').value;
			localStorage.setItem('ipAddress', ipAddress);
		} catch(err){};
		try {
		    port=document.getElementById('port').value;
			localStorage.setItem('port', port);
		} catch(err){};
		try {
		    unitId=document.getElementById('unitId').value;
			localStorage.setItem('unitId', unitId);
		} catch(err){};
		try {
		    address=document.getElementById('address').value;
			localStorage.setItem('address', address);
		} catch(err){};
		try {
		    fc=document.getElementById('fc').value;
			localStorage.setItem('fc', fc);
		} catch(err){};
	}

    function getURLParameters(paramName)
    {
        var sURL = window.document.URL.toString();
        if (sURL.indexOf("?") > 0)
        {
            var arrParams = sURL.split("?");
            var arrURLParams = arrParams[1].split("&");
            var arrParamNames = new Array(arrURLParams.length);
            var arrParamValues = new Array(arrURLParams.length);

            var i = 0;
            for (i = 0; i<arrURLParams.length; i++)
            {
                var sParam =  arrURLParams[i].split("=");
                arrParamNames[i] = sParam[0];
                if (sParam[1] != "")
				{
                    arrParamValues[i] = unescape(sParam[1]);
					if(arrParamValues[i]=="true") { arrParamValues[i] = true;}
					if(arrParamValues[i]=="false") { arrParamValues[i] = false;}
				}	
                else
				{
                    arrParamValues[i] = true;
				}
            }

            for (i=0; i<arrURLParams.length; i++)
            {
                if (arrParamNames[i] == paramName)
                {
                    //alert("Parameter:" + arrParamValues[i]);
                    return arrParamValues[i];
                }
            }
            return false;
        }
    }
	
	function parseResult(results)
	{
		var values = [];
		for (i in results)
		{
			try 
			{
			    var pages = results[i]['RESPONSE']['pages'];
				for(page in pages)
				{
					for(pram in pages[page])
					{
						var value=pages[page][pram];
						var pagePram = page+'.'+pram;
						values[pagePram]=value;
						values[pram]=value;
					}
				}				
			}catch(err){}
		}
	    return values;
	}
		
	var getPrams = ['name=voltage'];

    var g1Max = 0;
	var g1Min = 0;
	var g1Labels = ['Time', 'Voltage'];
    var g1 = new Dygraph(document.getElementById("div_g1"), g1data,
			{
			title: 'Voltage',
			labels: g1Labels,
			valueRange: [g1Min-1, g1Max+1],							
			});

	function updateG1Data(values,update){
		try {
			var ts = new Date();  // current time
			var voltage= parseFloat(values['voltage']);
			if(voltage>g1Max){g1Max=voltage;}
			if(voltage<g1Min){g1Min=voltage;}
			g1data.push([ts, voltage]);
			try
			{
				maxSamples=parseFloat(document.getElementById('maxSamples').value);
				if(isNaN(maxSamples)){maxSamples=100000;}
				localStorage.setItem('maxSamples'+hostname, maxSamples);
			}catch(err){};
			if(g1data.length>maxSamples){g1data=g1data.slice(-maxSamples);}
			localStorage.setItem('g1data'+hostname, JSON.stringify(g1data));
			if(update){g1.updateOptions( { 'file': g1data } );}
			if(update){g1.updateOptions( { valueRange: [g1Min-1, g1Max+1] } );}
		}
		catch(err){
		}
	}


    function getData()
	{	
		if (!document.getElementById('doCollection').checked)
		{  
		    getPrams = [];
			getPrams.push('name=voltage');
			getPrams.push('ip='+ipAddress);
			getPrams.push('port='+port);
			getPrams.push('unitId='+unitId);
			getPrams.push('address='+address);
			getPrams.push('FC='+fc);
			$.ajax({
				type: 'GET',
				url: '/get',
				data: getPrams.join('&'),
				dataType: 'json',
				processData: false,
				success: function (result) {
					try {
							var values = result;
							//console.log('values');
							//console.log(values);
							var doUpdate = !document.getElementById('doPause').checked;
							updateG1Data(values,doUpdate);
						} catch(err){
						}
				},
				complete: function (data) {
						// Schedule the next
						getParameters();
						try {
						    rate=parseFloat(document.getElementById('sampleRate').value);
						    localStorage.setItem('rate'+hostname, rate);
						} catch(err){};
						setTimeout(getData, rate*1000);
				}
			});
		}
		else
		{
		    getParameters();
			try {
				rate=parseFloat(document.getElementById('sampleRate').value);
				localStorage.setItem('rate'+hostname, rate);
			} catch(err){};
			setTimeout(getData, rate*1000);
		}
	}
	
	getParameters();
	try {
		rate=parseFloat(document.getElementById('sampleRate').value);
		localStorage.setItem('rate'+hostname, rate);
	} catch(err){};
	setTimeout(getData, rate*1000);

</script>
</body>
</html>